body
{
    font-family: Roboto, sans-serif;
    color: #0f3c4b;
    background-color: #e5edf1;
    padding: 4rem 1.25rem; /* 80 20 */
}

.container
{
    width: 100%;
    max-width: 680px; /* 800 */
    /*text-align: center;*/
    margin: 0 auto;
    /*outline: 1px dashed red;*/
}

.current_track_container {
    font-size: 1.25rem;
    background-color: white;
    padding: 20px 30px 20px 30px;
}

.next_tracks {
    outline: 1px solid lightgrey;
    padding: 0px 0px 0px 0px;
}

.next_tracks.next_tracks_empty {
    outline: 1px solid transparent;
}

.next_tracks li {
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next_tracks li:nth-child(2n){
    background: #f7f7f7;
}

.next_tracks li:hover {
    background: #f4f4f4;
}

.next_tracks li:nth-child(2n):hover{
    background: #ececec;
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:4px 8px;
	text-decoration:none;
	
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.box__input {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #f7f7f7;
}

.track_library_title_container {
    background-color: white;
    padding: 20px 30px 20px 30px;
    font-size: 1.25rem; /* 20 */
    position: relative;
}

.track_library_title_container #clear {
    position: absolute;
    right: 30px;
}

.box
{
    font-size: 1.25rem; /* 20 */
    background-color: #c8dadf;
    position: relative;
    padding: 20px 30px 20px 30px;
}

.box.has-advanced-upload {
    background-color: white;
    outline: 2px dashed transparent;
    outline-offset: -10px;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.has-advanced-upload .box__dragndrop {
    display: inline;
}

.box.is-dragover {
    background-color: grey;
    outline-offset: -20px;
    outline-color: #9ca7aa;
    background-color: #fff;
}

.box__dragndrop
{
    display: none;
}

.has-advanced-upload.box__dragndrop
{
    display: inline;
}

.box__file
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box__file + label
{
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.box__file + label:hover strong,
.box__file:focus + label strong
{
    color: #39bfd3;
}

.box__file:focus + label {
    outline: 1px dotted #000;
}

.box ul {
    outline: 1px solid lightgrey;
    padding: 0px 0px 0px 0px;
}

.box ul.lib_empty  {
    outline: 1px solid transparent;
    color: lightgrey;
}

.box li {
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box li:nth-child(2n){
    background: #f7f7f7;
}

.box li:hover {
    background: #f4f4f4;
}

.box li:nth-child(2n):hover{
    background: #ececec;
}